#top {
    margin-top: 100px;
	background-image: url(shiritori.png);
}
.big-bg {
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
    width: 100%;
    height: 500px
}

h1 {
    text-align: center;
    font-size: 100px;
    font-family: メイリオ, Meiryo, 游ゴシック, "Yu Gothic", Verdana, Helvetica, Arial, sans-serif;
    width: 100%;
	padding: 0;
    margin: 0 auto;
    color: #fff;
    text-shadow:1px 0 5px #000;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: メイリオ, Meiryo, 游ゴシック, "Yu Gothic", Verdana, Helvetica, Arial, sans-serif;
    width: 100%;
	padding: 0;
    margin: 30px auto 0;
    color: #000;
    text-shadow: 1px 0 5px #fff;
}

.box {
    text-align: center;
    margin-top: 100px;
}
input {
    padding: 10px 20px;
}
button {
    color: #fff;
    background-color: #00f;
    padding: 10px 20px;
}
button:hover {
	color: #0bd;
	border-color: #0bd;
}