body {
	background-image: url(gomennne.png);
	background-size: contain;
	background-position: center top;
	background-repeat: no-repeat;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 130px;
    font-family: メイリオ, Meiryo, 游ゴシック, "Yu Gothic", Verdana, Helvetica, Arial, sans-serif;
    width: 100%;
	padding: 0;
    margin: 0 auto;
    color: #ff0;
    text-shadow:1px 0 5px #000;
}

a {
    color: #00f;
    text-shadow:1px 0 5px #000;
}